

a:hover {
    padding-left: 15px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0;
    transition: ease-out 0.3s;
    outline: none;
  }



 

  /* -------------media queries------------------ */
@media screen and (max-width:620px){

    .navbar {
      font-size: 1.2rem;
    }
    #lineup {
        font-size: 9vw;
    }
    .navbar-nav > li{
      margin-left:auto;
      margin-right: 0;
    }
  
    .linkHide {
      display: none;
    }
  
    #ticketInfo {
        font-size: 1.5rem;
    }

    footer {
        position: static;
       
    }
  }
  
  @media screen and (min-width:620px){
    .navbar-nav > li{
      margin-left:auto;
      margin-right: 0;
    }

    #ticketInfo {
        font-size: 2rem;
        margin-top: 10px;
    }

    #lineup {
        font-size: 3vw;
    }

    footer {
        position: static;
    }
  } 
  /*large tablets & desktop styles*/
  
  @media screen and (min-width:960px){
  }
  
  /*desktop styles*/
  
  @media screen and (min-width:1200px){
  }
  @media screen and (min-width:1920px){
    .navbar {
      padding-left: 4.3vw;
    }
    footer {
      position: static;
    }
  }