#bgVideo {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#bandListMainPage {
    font-size: 2vw;
}


a {
  text-decoration:none;
}
a:active{
  font-weight: bold;
}
a:link{
color : rgb(219, 219, 219);

}
a:visited {
  color : rgb(219, 219, 219);
 }

a:hover {
  color: rgb(255, 123, 0);
}

body {
  min-height: 100%;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
/* -------------lineup Pages------------------ */
.artistImage {
  width: 100%;
  object-fit: cover;
}
#bandInfo {
}
#bandText {
  height: 32vh;
}

label{
  font-weight: bold;
}

/* -------------Media Queries------------------ */


@media screen and (max-width:620px) {

  .navbar {
    font-size: 1.2rem;
  }

  #lineup {
    font-size: 7vw;
  }

  #bandListMainPage {
    font-size: 1.5rem;

  }

  .navbar-nav > li {
    margin-left: auto;
    margin-right: 0;
  }

  .linkHide {
    display: none;
  }

  #ticketInfo {
    font-size: 1.5rem;
  }

  footer {
    position: fixed;
    font-size: 0.3rem;

  }
  .col-6{
    width: 100%;
    padding-bottom: 20px;
  }
  p {
    font-size:16px;
  }
  .progress-bar{
    width: 100%;
  }


}


@media screen and (min-width:620px){
  .navbar-nav > li{
    margin-left:auto;
    margin-right: 0;
  }

  #ticketInfo {
    font-size: 2rem;
    margin-top: 10px;
  }

  #lineup {
    font-size: 9vw;
  }

  footer {
    position: fixed;
    font-size:1.5rem;
  }
}

/*large tablets & desktop styles*/

@media screen and (min-width:960px){
  footer {
    position: fixed;
    font-size:1.5rem;
  }

}



/*desktop styles*/

@media screen and (min-width:1200px){
  footer {
    position: fixed;
    font-size:1.5rem;
  }



}
@media screen and (min-width:1920px) {

  footer {
    position: fixed;
    font-size:1.5rem;
  }
}






