body {
  min-height: 100%;
  font-family: europa,sans-serif;
}

#bgVideo {
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
#title, #date {
  font-weight: bold;
  font-size: 5vw;
}

#bandListMainPage {
    font-size: 2.5vw;
}

a {
  text-decoration:none;
}
a:active{
  font-weight: bold;
}
a:link{
color : rgb(219, 219, 219);

}
a:visited {
  color : rgb(219, 219, 219);
 }
a:hover {  
  color: rgb(255, 123, 0);
}

h1 {
  font-size: 5vh;
}

.indexButton, #andManyMore {
  font-family: europa,sans-serif;
  color: indigo;
  font-weight: bold;
}

footer {
  bottom: 0;
  width: 100vw;
}
/* -------------lineup Pages------------------ */
.artistImage {
  width: 100%;
  object-fit: cover;
}
#bandInfo {
}
#bandText {
  overflow: scroll;
  scrollbar-width: none;
  height: 32vh;
}

/* -------------login Page------------------ */

.login {
  width: 40vh;
  height: 25vh;
  padding: 2vw;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(103, 103, 103, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
#loginFooter {
  position: absolute;
  
}