body {
  min-height: 100%;
  font-family: europa,sans-serif;
}

.navbar {
  font-weight: bold;
  padding-left: 5.5rem;
  font-size: 1.5rem;
}

.navbar-nav > li{
  margin-left:30px;
  margin-right:50px;
}

#bgVideo {
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.mainContainer {
  padding-left: 5vw;
  padding-right: 5vw;
}
#title, #date, #whereToFindUs {
  font-weight: bold;
  font-size: 5vw;
}

#bandListMainPage {
    font-size: 2.5vw;
}

.progress-bar {
  background-color: rgb(0, 242, 32);
}

a {
  text-decoration:none;
}
a:active{
  font-weight: bold;
}
a:link{
color : rgb(219, 219, 219);
}
a:visited {
  color : rgb(219, 219, 219);
 }
a:hover {  
  color: rgb(144, 0, 201);
}

h1 {
  font-size: 5vh;
}

.indexButton, #andManyMore {
  font-family: europa,sans-serif;
  color: indigo;
  font-weight: bold;
}

footer {
  bottom: 0;
  width: 100vw;
  font-weight: bold;
}
/* -------------lineup Pages------------------ */
.artistImage {
  width: 100%;
  object-fit: cover;
}
#bandInfo {
}
#bandText {
  overflow: scroll;
  scrollbar-width: none;
  height: 32vh;
}

/* -------------login Page------------------ */

.login {
  width: 40vh;
  height: 25vh;
  padding: 2vw;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(103, 103, 103, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
#loginFooter {
  position: absolute;
}

.signIn{
  background-color: rgb(144, 0, 201);
  color: #eee;
  border-top: none;
}

/* -------------media queries------------------ */
@media screen and (max-width:620px){
  .navbar {
    font-size: 1.2rem;
  }

  .navbar-nav > li{
    margin-left:auto;
    margin-right: 0;
  }

  .linkHide {
    display: none;
  }

  #bandListMainPage{
    font-size: 2vh;
  }
  #bottomBold {
    text-align: center;
  }

  .year {
    display: none;
  } 
}

@media screen and (min-width:620px){
  .navbar-nav > li{
    margin-left:auto;
    margin-right: 0;
  }
  
  #bandListMainPage{
    font-size: 2vh;
  } 
} 
/*large tablets & desktop styles*/

@media screen and (min-width:960px){
  
  .navbar {
    padding-left: 3.2rem;
  } 
}

/*desktop styles*/

@media screen and (min-width:1200px){
  .navbar {
    padding-left: 2.8rem;
    font-size: 1.5rem;
  }

  footer {
    position: absolute;
  }

}
@media screen and (min-width:1920px){
  .navbar {
    padding-left: 4.3vw;
  }
  footer {
    position: absolute;
  }
}