body {
    min-height: 100%;
}

h2 {
    font-weight: bold;
    font-size: 4vh;
}

h3 {
    font-size: 3vh;
}

footer {
    bottom: 0;
    width: 100vw;
    position: absolute;
}

#ticketInfo {
    font-size: 2rem;
}

#participate1, #participate2{
    border-color: rgb(206, 206, 206);
    border-width: 2px;
    background-color: #eee;
    color: rgb(144, 0, 201);
}
#participate1:hover, #participate2:hover{
    border-color: rgb(206, 206, 206);
    border-width: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(189, 189, 189);
}

#faq, #accomodation{
    text-decoration: underline;
    color: rgb(144, 0, 201);
}


/* -------------media queries------------------ */
@media screen and (max-width:620px){
    .navbar {
      font-size: 1.2rem;
    }
  
    .navbar-nav > li{
      margin-left:auto;
      margin-right: 0;
    }
  
    .linkHide {
      display: none;
    }
  
    #ticketInfo {
        font-size: 1.5rem;
    }

    footer {
        position: static;
       
    }
  }
  
  @media screen and (min-width:620px){
    .navbar-nav > li{
      margin-left:auto;
      margin-right: 0;
    }

    #ticketInfo {
        font-size: 2rem;
        margin-top: 10px;
    }

    footer {
        position: static;
    }
  } 
  /*large tablets & desktop styles*/
  
  @media screen and (min-width:960px){
    
    .navbar {
      padding-left: 3.2rem;
    } 
  }
  
  /*desktop styles*/
  
  @media screen and (min-width:1200px){
    .navbar {
      padding-left: 5rem;
      font-size: 1.5rem;
    }
  }
  @media screen and (min-width:1920px){
    .navbar {
      padding-left: 4.3vw;
    }
    footer {
      position: absolute;
    }
  }